@using RealEstate.Rentals

@model RentalsList

@{
    ViewBag.Title = "Index";
}

@helper DescribeLastAdjustment(List<PriceAdjustment> adjustments)
{
    <span>@adjustments.Select(a => a.Describe()).LastOrDefault()</span>
}

<h2>Most Expensive Rentals</h2>

<div id="expensiveRentals">
    
</div>

<h2>Rental Listings</h2>

@using (Html.BeginForm())
{
    <label for="PriceLimit">Price Limit</label>
    <input type="text" name="PriceLimit" value="@Model.Filters.PriceLimit"/>

    <label for="MinimumRooms">Minimum Rooms</label>
    <input type="text" name="MinimumRooms" value="@Model.Filters.MinimumRooms"/>
    <input type="submit" value="search"/>
}
<p>
    @Html.ActionLink("Post Rental", "Post")
</p>
<table class="table">
    <tr>
        <th>
            Description
        </th>
        <th>
            Number of Rooms
        </th>
        <th>
            Address
        </th>
        <th>Price</th>
        <th>Adjustments</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var rental in Model.Rentals)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => rental.Description)
                <p>
                    <a href="@Url.Action("Rental", new {id = rental.Id})">@Url.Action("Rental", new { id = rental.Id })</a>
                </p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => rental.NumberOfRooms)
            </td>
            <td>
                @rental.Address.First()
            </td>
            <td>
                @Html.DisplayFor(modelItem => rental.Price)
            </td>
            <td>
                @DescribeLastAdjustment(rental.Adjustments)
                @*@rental.Adjustments.Select(a => a.Describe()).LastOrDefault()*@
            </td>
            <td>
                @Html.ActionLink("Adjust Price", "AdjustPrice", new {id = rental.Id}, new {data_color="red"})
            </td>
            <td>
                @Html.ActionLink("Image", "AttachImage", new {id = rental.Id})
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {id = rental.Id})
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        (function (settings) {
            var container = $('#expensiveRentals'),
                templateSource = $('#rentalListTemplate').html(),
                template = Handlebars.compile(templateSource),
                getTopRentals = function() {
                    return $.get('/RealEstate/Rental/List');
                },
                renderTopRentals = function(rentals) {
                    var topRentals = _.first(rentals, parseInt(settings.TopRentalsToShow));
                    container.append(template({ rentals: topRentals }));
                },
                initializeHub = function() {
                    var hub = $.connection.rentalHub;
                    hub.client.rentalAdded = function () {
                        toastr.info('top rentals updated');
                        container.html('');
                        getTopRentals().then(renderTopRentals);
                    };

                    $.connection.hub.start();
                };

            $(function() {
                initializeHub();
                getTopRentals().then(renderTopRentals);
            });
            


        })(RentalApp.ApplicationSettings);
    </script>
}

@section templates
{
    @Html.Partial("~/Views/Templates/_RentalsList.cshtml")
}
